
// ============================================================
// THEME 
// ============================================================


	// SPACING
	// --------------------------------------------------------
	$baseline: 20px;


	// COLOURS
	// --------------------------------------------------------

	$col-black		: #222;
	$col-white		: #fff;
	$col-grey		: #f4f4f4;
	$col-lightgrey	: #f8f8f8;
	$col-darkgrey	: #80807e;
	$col-red 		: #D13E36;
	$col-green		: #17AD8A;
	$col-turq       : #a9dbd8;
	$col-gold		: #c1966b;
	$col-transpink  : rgba(237, 50, 106, .05);
	$col-blue		: #1f2439;
	$col-yellow		: #C4C416;
	$error-msg 		: red;
	$warning-msg	: yellow;
	$success-msg	: green;


	// BREAKPOINTS
	// --------------------------------------------------------

	$tablet : 840px;
	$mobile : 450px;

// ============================================================