
// ============================================================
// LINKS 
// ============================================================


$linkColor: $col-blue;


a {

	text-decoration: none;
	color: $linkColor;
	border-bottom: 2px solid transparent;
	@include transition(all .3s ease-in-out);

	&:link {}

	&:visited {}

	&:hover {

		// text-decoration: underline;
		border-bottom: 2px solid $col-grey;

	}

	&.no-td {

		&:hover {

			text-decoration: none;

		}

	}

	&:active {

		//text-decoration: underline;

	}

}

// ============================================================

