
// ============================================================
// LISTS 
// ============================================================

ul, ol {

	margin-bottom: $baseline/2;

	&.inline-list {
	
		li {

			display: inline-block;
			margin-right: $baseline/2;

			&:last-child {

				margin-right: 0;

			}

		}

	}

	&.stacked-list {

		li {

			display: block;
			margin-bottom: $baseline/2;

		}

	}

}

// ============================================================