<footer class="app-footer">
	<div class="footer-left">
		<!-- <ul class="inline-list connect icons">
			<li class="icon-email">
				<a href="mailto:liam.m.tarpey@gmail.com"></a>
			</li>
			<li class="icon-cv">
				<a href="#"></a>
			</li>
			<li class="icon-github">
				<a href="https://github.com/liamtarpey"></a>
			</li>
			<li class="icon-twitter">
				<a href="https://twitter.com/liamtarpey"></a>
			</li>
		</ul> -->
		<ul class="inline-list">
			<li>
				<a href="mailto:liam.m.tarpey@gmail.com">Contact Me</a>
			</li>
			<li>
				<a href="http://www.github.com/liamtarpey" target="_blank">Github</a>
			</li>
		</ul>
	</div>
	<div class="footer-right">
		<ul class="inline-list lang icons">
			<li class="icon-angular"></li>
			<li class="icon-sass"></li>
			<li class="icon-css3"></li>
			<li class="icon-html5"></li>
			<li class="icon-wp"></li>
		</ul>
	</div>
</footer>

