

.app-header {

	margin-bottom: $baseline*2;
	margin: 0 -100px 0 40%;
	@include transition(all .6s ease-in-out);
	opacity: 0;

	&.fade {

		opacity: 1;
	}

	&.slide {

		margin: 0 0 $baseline/2 0;
	}

	.logo {

		font-family: 'Campton Bold', arial, sans-serif;
		display: inline-block;
		color: $col-black;
		@include font(48);
	    line-height: 1;
	    letter-spacing: -1px;
	}

	h1 {

		display: inline-block;

		span {

			line-height: 1;
		}
	}
}