

.project-left {

	background: $col-lightgrey;

	&.stick {

		position: fixed;
		top: 0;
		left: 0;
		width: 40%;
		padding: $baseline $baseline*3 $baseline*3 $baseline*3;
	}

	.individual-languages {

		margin: $baseline*2 0;
		border-left: 3px solid $col-gold;

		ul {

			padding-top: 6px;

			li {

				padding-left: $baseline/2;
			}
		}
	}

	.scroll-wrapper {

		display: none;

		@include breakpoint($tablet) {

			display: block;
		}
	}
}