

.project-left {

	.individual-languages {

		ul {

			li {

				&:before {

					content: '';
					width: 5px;
					height: 5px;
					background: red;
					@include border-radius(50%);
					display: inline-block;
					vertical-align: middle;
					margin: 0 $baseline/2;
				}
			}
		}
	}

	.scroll-wrapper {

		@include cf;
		margin: $baseline*2 -60px 0 -60px;
		padding: $baseline $baseline*3;

		background: $col-grey;

		.prev,
		.next {


		}

		.prev {

			float: left;
		}

		.next {

			float: right;
		}
	}
}