

.project-right {

	padding: $baseline;
	margin-bottom: 0;

	@include breakpoint($tablet) {

		padding: $baseline*3;
	}

	img {

		margin-bottom: $baseline;
	}
}
.scroll-wrapper.right {

	margin: $baseline*2 0 0 0;
	display: none;

	&.show {

		display: block;

		@include breakpoint($tablet) {

			display: none;
		}
	}
}