/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, grunt/dev/sass/partials/globals/_core.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 23, grunt/dev/sass/partials/globals/_core.scss */
::selection {
  background: #ED326A;
  color: white;
}

/* line 30, grunt/dev/sass/partials/globals/_core.scss */
#page {
  min-height: 100%;
}

/* line 36, grunt/dev/sass/partials/globals/_core.scss */
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: #212328;
}

/* line 45, grunt/dev/sass/partials/globals/_core.scss */
body {
  background: #f8f8f8;
  position: relative;
}

/* line 52, grunt/dev/sass/partials/globals/_core.scss */
.wrapper {
  width: 100%;
  max-width: 1600px;
  padding: 0;
  margin: 0 auto;
}

/* line 13, grunt/dev/sass/partials/globals/_blockquotes.scss */
blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
  border-left: 7px solid #17ad8a;
  padding: 5px 20px;
  width: 100%;
}
@media (min-width: 840px) {
  /* line 13, grunt/dev/sass/partials/globals/_blockquotes.scss */
  blockquote {
    max-width: 60%;
  }
}
/* line 27, grunt/dev/sass/partials/globals/_blockquotes.scss */
blockquote:before, blockquote:after {
  font-size: 26px;
  font-size: 1.625em;
  line-height: 39px;
  color: #80807e;
  font-family: georgia;
  display: inline;
  line-height: 1px;
  vertical-align: -5px;
}
/* line 38, grunt/dev/sass/partials/globals/_blockquotes.scss */
blockquote:before {
  content: open-quote;
}
/* line 44, grunt/dev/sass/partials/globals/_blockquotes.scss */
blockquote:after {
  content: close-quote;
}

/* line 27, grunt/dev/sass/partials/globals/_forms.scss */
.btn,
input,
button,
select,
textarea {
  margin-bottom: 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 1px solid #80807e;
}
/* line 36, grunt/dev/sass/partials/globals/_forms.scss */
.btn:focus,
input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* line 50, grunt/dev/sass/partials/globals/_forms.scss */
input[type="text"], select,
textarea,
input[type="date"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"] {
  display: block;
  width: 100%;
  max-width: 480px;
  padding: 10px;
}

/* line 60, grunt/dev/sass/partials/globals/_forms.scss */
select,
textarea {
  display: block;
}

/* line 67, grunt/dev/sass/partials/globals/_forms.scss */
textarea {
  resize: vertical;
  min-height: 260px;
}

/* line 76, grunt/dev/sass/partials/globals/_forms.scss */
.btn,
button,
input[type="submit"] {
  border: none;
  width: auto;
  padding: 5px 10px;
  background: #2b78c4;
  color: white;
  display: inline-block;
}
/* line 85, grunt/dev/sass/partials/globals/_forms.scss */
.btn:hover,
button:hover,
input[type="submit"]:hover {
  color: white;
  background: #d13e36;
  text-decoration: none;
}
/* line 93, grunt/dev/sass/partials/globals/_forms.scss */
.btn.secondary,
button.secondary,
input[type="submit"].secondary {
  background: #2b78c4;
  color: white;
}
/* line 98, grunt/dev/sass/partials/globals/_forms.scss */
.btn.secondary:hover,
button.secondary:hover,
input[type="submit"].secondary:hover {
  color: white;
  background: #c4c416;
}
/* line 107, grunt/dev/sass/partials/globals/_forms.scss */
.btn:hover,
button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

/* line 7, grunt/dev/sass/partials/globals/_images.scss */
.img-half {
  width: 50%;
  height: auto;
  display: block;
}

/* line 15, grunt/dev/sass/partials/globals/_images.scss */
.img-full {
  width: 100%;
  height: auto;
  display: block;
}

/* line 10, grunt/dev/sass/partials/globals/_links.scss */
a {
  text-decoration: none;
  color: #2b78c4;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 21, grunt/dev/sass/partials/globals/_links.scss */
a:hover {
  border-bottom: 2px solid #80807e;
}
/* line 30, grunt/dev/sass/partials/globals/_links.scss */
a.no-td:hover {
  text-decoration: none;
}

/* line 6, grunt/dev/sass/partials/globals/_lists.scss */
ul, ol {
  margin-bottom: 20px;
}
/* line 12, grunt/dev/sass/partials/globals/_lists.scss */
ul.inline-list li, ol.inline-list li {
  display: inline-block;
  margin-right: 10px;
}
/* line 17, grunt/dev/sass/partials/globals/_lists.scss */
ul.inline-list li:last-child, ol.inline-list li:last-child {
  margin-right: 0;
}
/* line 29, grunt/dev/sass/partials/globals/_lists.scss */
ul.stacked-list li, ol.stacked-list li {
  display: block;
  margin-bottom: 10px;
}

/* line 2, grunt/dev/sass/partials/globals/_svg.scss */
svg {
  width: 30px;
  height: 30px;
}
/* line 7, grunt/dev/sass/partials/globals/_svg.scss */
svg path {
  width: 30px;
  height: auto;
}

/* line 12, grunt/dev/sass/partials/globals/_tables.scss */
table {
  width: 100%;
}
/* line 16, grunt/dev/sass/partials/globals/_tables.scss */
table th, table td {
  border-bottom: 1px solid #80807e;
  padding: 10px;
  width: 25%;
}

@font-face {
  font-family: 'Campton Bold';
  src: url(/wp-content/themes/portfolio/assets/fonts/campton_bold.otf);
}

@font-face {
  font-family: 'Campton Light';
  src: url(/wp-content/themes/portfolio/assets/fonts/campton_light.otf);
}

/* line 18, grunt/dev/sass/partials/globals/_typography.scss */
html {
  font-size: 100%;
}

/* line 24, grunt/dev/sass/partials/globals/_typography.scss */
body, input, textarea, select, button, p, a {
  font-size: 16px;
  font-size: 1em;
  line-height: 24px;
  color: #80807e;
  font-family: "Campton Light", arial, sans-serif;
}

/* line 32, grunt/dev/sass/partials/globals/_typography.scss */
h1, h4, h5, h6, p {
  margin-bottom: 13.33333px;
}

/* line 43, grunt/dev/sass/partials/globals/_typography.scss */
h2, .h2, .beta {
  font-size: 32px;
  font-size: 2em;
  line-height: 48px;
  color: #212328;
}

/* line 50, grunt/dev/sass/partials/globals/_typography.scss */
h3, .h3, .gamma {
  font-size: 20px;
  font-size: 1.25em;
  line-height: 30px;
  color: #212328;
}

/* line 57, grunt/dev/sass/partials/globals/_typography.scss */
h4, .h4, .delta {
  font-size: 18px;
  font-size: 1.125em;
  line-height: 27px;
}

/* line 64, grunt/dev/sass/partials/globals/_typography.scss */
h5, .h5, .epsilon,
h6, .h6, .zeta {
  font-size: 17px;
  font-size: 1.0625em;
  line-height: 25.5px;
}

/* line 70, grunt/dev/sass/partials/globals/_typography.scss */
.mega {
  font-size: 72px;
  font-size: 4.5em;
  line-height: 108px;
}

/* line 78, grunt/dev/sass/partials/globals/_typography.scss */
small,
.tiny {
  font-size: 14px;
  font-size: 0.875em;
  line-height: 21px;
}

/* line 84, grunt/dev/sass/partials/globals/_typography.scss */
strong {
  font-weight: bold;
}

/* line 90, grunt/dev/sass/partials/globals/_typography.scss */
em {
  font-style: italic;
}

/* line 7, grunt/dev/sass/partials/modules/_app-layout.scss */
.app-content .main-view {
  *zoom: 1;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.app-content .main-view:after {
  content: "";
  display: table;
  clear: both;
}

/* line 15, grunt/dev/sass/partials/modules/_app-layout.scss */
.app-left {
  padding: 140px 60px 60px 60px;
}
@media (min-width: 840px) {
  /* line 15, grunt/dev/sass/partials/modules/_app-layout.scss */
  .app-left {
    float: left;
    width: 40%;
  }
}

@media (min-width: 840px) {
  /* line 28, grunt/dev/sass/partials/modules/_app-layout.scss */
  .app-right {
    float: right;
    width: 60%;
  }
}

/* line 5, grunt/dev/views/header/_header.scss */
.app-header {
  margin-bottom: 20px;
  position: absolute;
  top: 60px;
  left: 60px;
}
/* line 12, grunt/dev/views/header/_header.scss */
.app-header .app-logo {
  color: #212328;
  font-family: "Campton Bold", arial, sans-serif;
  font-size: 48px;
  font-size: 3em;
  line-height: 72px;
  line-height: 1;
  letter-spacing: -1px;
}
/* line 21, grunt/dev/views/header/_header.scss */
.app-header .app-logo:hover {
  text-decoration: none;
}
/* line 29, grunt/dev/views/header/_header.scss */
.app-header .app-tagline {
  font-size: 15px;
  font-size: 0.9375em;
  line-height: 22.5px;
  display: inline-block;
}
/* line 34, grunt/dev/views/header/_header.scss */
.app-header .app-tagline span {
  line-height: 1;
}

/* line 5, grunt/dev/views/home/_home.scss */
.about {
  margin-bottom: 20px;
}

/* line 28, grunt/dev/views/home/_home.scss */
.enter-right.ng-enter,
.enter-right.ng-leave,
.enter-left.ng-enter,
.enter-left.ng-leave,
.leave-right.ng-enter,
.leave-right.ng-leave,
.leave-left.ng-enter,
.leave-left.ng-leave {
  transition: all .6s ease-in-out;
}

/* line 35, grunt/dev/views/home/_home.scss */
.enter-right.ng-enter {
  transform: scale(0.7);
  opacity: 0;
}

/* line 40, grunt/dev/views/home/_home.scss */
.enter-right.ng-enter-active {
  transform: scale(1);
  opacity: 1;
}

/* line 45, grunt/dev/views/home/_home.scss */
.leave-right.ng-leave {
  transform: scale(1);
  opacity: 1;
}

/* line 50, grunt/dev/views/home/_home.scss */
.leave-right.ng-leave-active {
  transform: scale(0.7);
  opacity: 0;
}

/* line 59, grunt/dev/views/home/_home.scss */
.leave-left.ng-leave {
  transform: scale(1);
  opacity: 1;
}

/* line 64, grunt/dev/views/home/_home.scss */
.leave-left.ng-leave-active {
  transform: scale(0.7);
  opacity: 0;
}

/* line 71, grunt/dev/views/home/_home.scss */
.enter-left.ng-enter {
  transform: scale(0.7);
  opacity: 0;
}

/* line 76, grunt/dev/views/home/_home.scss */
.enter-left.ng-enter-active {
  transform: scale(1);
  opacity: 1;
}

/* line 5, grunt/dev/views/project/_project.scss */
.app-right {
  padding: 60px;
  background: #f4f4f4;
}
/* line 12, grunt/dev/views/project/_project.scss */
.app-right ul li {
  margin-bottom: 20px;
}
/* line 16, grunt/dev/views/project/_project.scss */
.app-right ul li img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 5, grunt/dev/views/footer/_footer.scss */
.app-footer {
  border-top: 1px solid #80807e;
  *zoom: 1;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.app-footer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 11, grunt/dev/views/footer/_footer.scss */
.app-footer .icons {
  margin: 0;
}
/* line 15, grunt/dev/views/footer/_footer.scss */
.app-footer .icons.lang {
  float: right;
}
/* line 21, grunt/dev/views/footer/_footer.scss */
.app-footer .icons li {
  background-image: url(/wp-content/themes/portfolio/assets/img/sprite.png);
  background-repeat: no-repeat;
  height: 36px;
  background-size: 338px 36px;
}
/* line 28, grunt/dev/views/footer/_footer.scss */
.app-footer .icons li.icon-angular {
  background-position: 0 0;
  width: 34px;
}
/* line 29, grunt/dev/views/footer/_footer.scss */
.app-footer .icons li.icon-sass {
  background-position: -34px 0;
  width: 49px;
}
/* line 30, grunt/dev/views/footer/_footer.scss */
.app-footer .icons li.icon-css3 {
  background-position: -83px 0;
  width: 39px;
}
/* line 31, grunt/dev/views/footer/_footer.scss */
.app-footer .icons li.icon-html5 {
  background-position: -159px 0;
  width: 32px;
}
/* line 32, grunt/dev/views/footer/_footer.scss */
.app-footer .icons li.icon-wp {
  background-position: -123px 0;
  width: 36px;
}
/* line 33, grunt/dev/views/footer/_footer.scss */
.app-footer .icons li.icon-github {
  background-position: -192px 0;
  width: 37px;
}
/* line 34, grunt/dev/views/footer/_footer.scss */
.app-footer .icons li.icon-twitter {
  background-position: -229px 0;
  width: 45px;
}
/* line 35, grunt/dev/views/footer/_footer.scss */
.app-footer .icons li.icon-cv {
  background-position: -273px 0;
  width: 28px;
}
/* line 36, grunt/dev/views/footer/_footer.scss */
.app-footer .icons li.icon-email {
  background-position: -302px 0;
  width: 36px;
}
/* line 38, grunt/dev/views/footer/_footer.scss */
.app-footer .icons li a {
  display: block;
  height: 36px;
}
@media (min-width: 840px) {
  /* line 49, grunt/dev/views/footer/_footer.scss */
  .app-footer .footer-left {
    float: left;
    width: 40%;
    background: #f4f4f4;
    padding: 20px 60px;
    height: 85px;
  }
}
/* line 63, grunt/dev/views/footer/_footer.scss */
.app-footer .footer-right {
  *zoom: 1;
  height: 85px;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.app-footer .footer-right:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 840px) {
  /* line 63, grunt/dev/views/footer/_footer.scss */
  .app-footer .footer-right {
    float: right;
    width: 60%;
    padding: 20px 60px;
  }
}

/* line 6, grunt/dev/sass/misc/_helpers.scss */
.block {
  display: block;
}

/* line 12, grunt/dev/sass/misc/_helpers.scss */
.inline {
  display: inline-block;
}

/* line 18, grunt/dev/sass/misc/_helpers.scss */
.pull-left {
  float: left;
}

/* line 24, grunt/dev/sass/misc/_helpers.scss */
.pull-right {
  float: right;
}

/* line 30, grunt/dev/sass/misc/_helpers.scss */
.text-center {
  text-align: center;
}

/* line 36, grunt/dev/sass/misc/_helpers.scss */
.text-right {
  text-align: right;
}

/* line 42, grunt/dev/sass/misc/_helpers.scss */
.browsehappy {
  color: white;
  background: red;
  width: 100%;
  text-align: center;
}

/* line 51, grunt/dev/sass/misc/_helpers.scss */
.mb {
  margin-bottom: 10px;
  display: block;
}

/* line 58, grunt/dev/sass/misc/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 64, grunt/dev/sass/misc/_helpers.scss */
.skip-link {
  visibility: hidden;
  position: absolute;
  left: -999999px;
  top: -99999px;
}
/* line 71, grunt/dev/sass/misc/_helpers.scss */
.skip-link:focus {
  position: static;
  visibility: visible;
}

/* line 80, grunt/dev/sass/misc/_helpers.scss */
.padding {
  padding: 20px;
}

/* line 86, grunt/dev/sass/misc/_helpers.scss */
.hidden {
  display: none;
}

@media print {
  /* line 13, grunt/dev/sass/misc/_print.scss */
  *,
  *:before,
  *:after {
    color: #000;
    text-shadow: none;
    box-shadow: none;
    background: transparent;
  }

  /* line 22, grunt/dev/sass/misc/_print.scss */
  a {
    text-decoration: underline;
  }
  /* line 27, grunt/dev/sass/misc/_print.scss */
  a:visited {
    text-decoration: underline;
  }
  /* line 35, grunt/dev/sass/misc/_print.scss */
  a[href]:after {
    content: " (" attr(href) ") ";
    font-size: 0.8em;
    font-weight: normal;
  }
  /* line 50, grunt/dev/sass/misc/_print.scss */
  a[href^="#"]:after, a[href*="#"]:after, a[href^="javascript:;"]:after, a[href*="javascript:;"]:after {
    content: '';
  }

  /* line 60, grunt/dev/sass/misc/_print.scss */
  input[type="submit"] {
    display: none;
  }

  /* line 78, grunt/dev/sass/misc/_print.scss */
  footer {
    display: none;
  }
}
