

.slide-out-left {

	transform: translateX(-250%);
	@include transition(transform 0.7s ease-in-out);
	position: fixed;

	&.active {

		transform: translateX(0);
		position: static;
	}
}

.slide-out-right {

	transform: translateX(250%);
	@include transition(transform 0.7s ease-in-out);
	position: fixed;

	&.active {

		transform: translateX(0);
		position: static;
	}
}