
.slide-out-left,
.slide-out-right {

	@include transition(transform 0.7s ease-in-out);
	width: 100%;
	max-width: 100%;

	&.absolute {

		position: absolute;
	}

	&.active {

		@include translateX(0);
		position: static;
	}
}

.slide-out-left {

	@include translateX(-250%);
}

.slide-out-right {

	@include translateX(250%);
}