
// ============================================================
// CORE 
// ============================================================

$backgroundColor: $col-lightgrey;
$containerWidth: 1200px;
$containerPadding: $baseline;
$containerCentering: true;
$includeBorderBox: true;


@if $includeBorderBox {

	*, *:before, *:after {

		@include box-sizing(border-box);
	}
}

html, body {

	width: 100%;
	overflow-x: hidden;
	color: $col-darkgrey;
}

body {

	background: $backgroundColor;
}

.home-btn {

	position: fixed;
	top: 10px;
	left: 10px;
	display: block;
	z-index: 99999;
}

.loading {

	opacity: 1;
	@include transition(opacity .3s ease-in-out);

	&.active {

		opacity: .4;
	}
}

.first-load {

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $col-white;
	padding: $baseline*3;
	@include transition(all .5s ease-in-out);
	opacity: 1;
	z-index: 999;

	&.hide {

		opacity: 0;
		z-index: -999999;
	} 
}

.fade-page {

	opacity: 0;
	@include transition(opacity .8s ease-in-out);
	@include cf;

	&.active {

		opacity: 1;
	}
}


// ============================================================