
// ============================================================
// CORE 
// ============================================================

$backgroundColor: $col-lightgrey;
$containerWidth: 1200px;
$containerPadding: $baseline;
$containerCentering: true;
$includeBorderBox: true;


@if $includeBorderBox {

	*, *:before, *:after {

		@include box-sizing(border-box);
	}
}

html, body {

	width: 100%;
	overflow-x: hidden;
	color: $col-darkgrey;
}

body {

	background: $backgroundColor;
}

.home-btn {

	position: fixed;
	top: 0;
	right: 0;
	display: block;
	z-index: 99999;
	width: 41px;
	border-bottom-left-radius: 5px;
	background: $col-lightgrey;

	@include breakpoint($tablet) {

		left: 0;
		right: auto;
		right: auto;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 5px;
	}

	img {

		padding: 10px;
	}
}

.loading {

	opacity: 1;
	@include transition(opacity .3s ease-in-out);

	&.active {

		opacity: .4;
	}
}

.first-load {

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $col-white;
	padding: $baseline;
	@include transition(all .5s ease-in-out);
	opacity: 1;
	z-index: 999;

	@include breakpoint($tablet) {

		padding: $baseline*3;
	}

	&.hide {

		opacity: 0;
		z-index: -999999;
	} 
}

.fade-page {

	opacity: 0;
	@include transition(opacity .8s ease-in-out);
	@include cf;

	&.active {

		opacity: 1;
	}
}

.scroll-wrapper {

	@include cf;
	margin: $baseline*2 -60px 0 -60px;
	padding: $baseline $baseline*3;
	background: $col-grey;

	.prev,
	.next {
		
		width: 27px;
		height: 27px;
		overflow: hidden;
		@include transition(all .2s ease-in-out);

		svg use {

			@include scale(.3);
		}
	}

	.prev {

		float: left;

		&:hover {

			margin-left: 6px;
		}
	}

	.next {

		float: right;

		&:hover {

			margin-right: 6px;
		}
	}
}


// ============================================================