
// ============================================================
// CORE 
// ============================================================

$backgroundColor: $col-lightgrey;
$containerWidth: 1200px;
$containerPadding: $baseline;
$containerCentering: true;
$includeBorderBox: true;


@if $includeBorderBox {

	*, *:before, *:after {

		@include box-sizing(border-box);
	}
}

html, body {

	width: 100%;
	overflow-x: hidden;
	color: $col-darkgrey;
}

body {

	background: $backgroundColor;
}

.loading {

	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.3);
	opacity: 0;
	z-index: -999;
	@include transition(opacity .3s ease-in-out);

	span {

		display: block;
		@include centre;
		background: $col-white;
		padding: $baseline;
	}

	&.active {

		opacity: 1;
		z-index: 99999;
	}
}


// ============================================================