
// ============================================================
// LINKS 
// ============================================================


$linkColor: $col-gold;


a {

	text-decoration: none;
	color: $linkColor;
	position: relative;
	@include transition(all .3s ease-in-out);

	&.bars {

		&:before, 
		&:after {

			content: '';
			width: 3px;
			background: $col-gold;
			height: 25px;
			position: absolute;
			top: -5px;
			@include transition(all .3s ease-in-out);
			opacity: 0;
		}

		&:before {

			left: -800%;
		}

		&:after {

			right: -1000%;
		}

		&:link {}

		&:visited {}

		&:hover {

			text-decoration: none;
			padding-left: 14px;

			&:before {

				left: 0;
				opacity: 1;
			}

			&:after {

				right: -14px;
				opacity: 1;
			}

		}

	}

	&:hover {

		text-decoration: underline;
	}

	&:active {

		text-decoration: underline;
	}

}

// ============================================================