
// ============================================================
// LINKS 
// ============================================================


$linkColor: $col-gold;


a {

	text-decoration: none;
	color: $linkColor;

	&:link {}

	&:visited {}

	&:hover {

		text-decoration: underline;

	}

	&:active {

		text-decoration: underline;

	}

}

// ============================================================