/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, dev/sass/partials/globals/_animations.scss */
.slide-out-left,
.slide-out-right {
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  -moz-transition: -moz-transform 0.7s ease-in-out;
  -o-transition: -o-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  width: 100%;
  max-width: 100%;
}
/* line 9, dev/sass/partials/globals/_animations.scss */
.slide-out-left.absolute,
.slide-out-right.absolute {
  position: absolute;
}
/* line 14, dev/sass/partials/globals/_animations.scss */
.slide-out-left.active,
.slide-out-right.active {
  transform: translateX(0);
  position: static;
}

/* line 21, dev/sass/partials/globals/_animations.scss */
.slide-out-left {
  transform: translateX(-250%);
}

/* line 26, dev/sass/partials/globals/_animations.scss */
.slide-out-right {
  transform: translateX(250%);
}

/* line 15, dev/sass/partials/globals/_core.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, dev/sass/partials/globals/_core.scss */
html, body {
  width: 100%;
  overflow-x: hidden;
  color: #80807e;
}

/* line 28, dev/sass/partials/globals/_core.scss */
body {
  background: #f8f8f8;
}

/* line 33, dev/sass/partials/globals/_core.scss */
.home-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  display: block;
  z-index: 99999;
}

/* line 42, dev/sass/partials/globals/_core.scss */
.loading {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
/* line 47, dev/sass/partials/globals/_core.scss */
.loading.active {
  opacity: .4;
}

/* line 53, dev/sass/partials/globals/_core.scss */
.first-load {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  padding: 60px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  z-index: 999;
}
/* line 66, dev/sass/partials/globals/_core.scss */
.first-load.hide {
  opacity: 0;
  z-index: -999999;
}

/* line 73, dev/sass/partials/globals/_core.scss */
.fade-page {
  opacity: 0;
  -webkit-transition: opacity 0.8s ease-in-out;
  -moz-transition: opacity 0.8s ease-in-out;
  -o-transition: opacity 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out;
  *zoom: 1;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.fade-page:after {
  content: "";
  display: table;
  clear: both;
}
/* line 79, dev/sass/partials/globals/_core.scss */
.fade-page.active {
  opacity: 1;
}

/* line 13, dev/sass/partials/globals/_blockquotes.scss */
blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
  border-left: 7px solid #17ad8a;
  padding: 5px 20px;
  width: 100%;
}
@media (min-width: 840px) {
  /* line 13, dev/sass/partials/globals/_blockquotes.scss */
  blockquote {
    max-width: 60%;
  }
}
/* line 27, dev/sass/partials/globals/_blockquotes.scss */
blockquote:before, blockquote:after {
  font-size: 26px;
  font-size: 1.625em;
  line-height: 39px;
  color: #f4f4f4;
  font-family: georgia;
  display: inline;
  line-height: 1px;
  vertical-align: -5px;
}
/* line 38, dev/sass/partials/globals/_blockquotes.scss */
blockquote:before {
  content: open-quote;
}
/* line 44, dev/sass/partials/globals/_blockquotes.scss */
blockquote:after {
  content: close-quote;
}

/* line 27, dev/sass/partials/globals/_forms.scss */
.btn,
input,
button,
select,
textarea {
  margin-bottom: 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 1px solid #f4f4f4;
}
/* line 36, dev/sass/partials/globals/_forms.scss */
.btn:focus,
input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* line 50, dev/sass/partials/globals/_forms.scss */
input[type="text"], select,
textarea,
input[type="date"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"] {
  display: block;
  width: 100%;
  max-width: 480px;
  padding: 10px;
}

/* line 60, dev/sass/partials/globals/_forms.scss */
select,
textarea {
  display: block;
}

/* line 67, dev/sass/partials/globals/_forms.scss */
textarea {
  resize: vertical;
  min-height: 260px;
}

/* line 76, dev/sass/partials/globals/_forms.scss */
.btn,
button,
input[type="submit"] {
  border: none;
  width: auto;
  padding: 5px 10px;
  background: #17ad8a;
  color: white;
  display: inline-block;
}
/* line 85, dev/sass/partials/globals/_forms.scss */
.btn:hover,
button:hover,
input[type="submit"]:hover {
  color: white;
  background: #d13e36;
  text-decoration: none;
}
/* line 93, dev/sass/partials/globals/_forms.scss */
.btn.secondary,
button.secondary,
input[type="submit"].secondary {
  background: #1f2439;
  color: white;
}
/* line 98, dev/sass/partials/globals/_forms.scss */
.btn.secondary:hover,
button.secondary:hover,
input[type="submit"].secondary:hover {
  color: white;
  background: #c4c416;
}
/* line 107, dev/sass/partials/globals/_forms.scss */
.btn:hover,
button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

/* line 7, dev/sass/partials/globals/_images.scss */
.img-half {
  width: 50%;
  height: auto;
  display: block;
}

/* line 15, dev/sass/partials/globals/_images.scss */
.img-full {
  width: 100%;
  height: auto;
  display: block;
}

/* line 10, dev/sass/partials/globals/_links.scss */
a {
  text-decoration: none;
  color: #c1966b;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 20, dev/sass/partials/globals/_links.scss */
a.bars:before, a.bars:after {
  content: '';
  width: 3px;
  background: #c1966b;
  height: 25px;
  position: absolute;
  top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
/* line 32, dev/sass/partials/globals/_links.scss */
a.bars:before {
  left: -800%;
}
/* line 37, dev/sass/partials/globals/_links.scss */
a.bars:after {
  right: -1000%;
}
/* line 46, dev/sass/partials/globals/_links.scss */
a.bars:hover {
  text-decoration: none;
  padding-left: 14px;
}
/* line 51, dev/sass/partials/globals/_links.scss */
a.bars:hover:before {
  left: 0;
  opacity: 1;
}
/* line 57, dev/sass/partials/globals/_links.scss */
a.bars:hover:after {
  right: -14px;
  opacity: 1;
}
/* line 67, dev/sass/partials/globals/_links.scss */
a:hover {
  text-decoration: underline;
}
/* line 72, dev/sass/partials/globals/_links.scss */
a:active {
  text-decoration: underline;
}

/* line 6, dev/sass/partials/globals/_lists.scss */
ul, ol {
  margin-bottom: 10px;
}
/* line 12, dev/sass/partials/globals/_lists.scss */
ul.inline-list li, ol.inline-list li {
  display: inline-block;
  margin-bottom: 0;
}
/* line 24, dev/sass/partials/globals/_lists.scss */
ul.stacked-list li, ol.stacked-list li {
  display: block;
  margin-bottom: 10px;
}

/* line 12, dev/sass/partials/globals/_tables.scss */
table {
  width: 100%;
}
/* line 16, dev/sass/partials/globals/_tables.scss */
table th, table td {
  border-bottom: 1px solid #f4f4f4;
  padding: 10px;
  width: 25%;
}

@font-face {
  font-family: 'Campton Bold';
  src: url(/wp-content/themes/portfolio2/assets/fonts/campton_bold.otf);
}

@font-face {
  font-family: 'Campton Light';
  src: url(/wp-content/themes/portfolio2/assets/fonts/campton_light.otf);
}

/* line 17, dev/sass/partials/globals/_typography.scss */
html {
  font-size: 100%;
}

/* line 22, dev/sass/partials/globals/_typography.scss */
h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 10px;
}

/* line 27, dev/sass/partials/globals/_typography.scss */
body, input, textarea, select, button, p {
  font-size: 16px;
  font-size: 1em;
  line-height: 24px;
  color: #80807e;
  font-family: 'Campton Light', arial, sans-serif;
  font-weight: 400;
}

/* line 36, dev/sass/partials/globals/_typography.scss */
h1, .alpha {
  font-size: 15px;
  font-size: 0.9375em;
  line-height: 22.5px;
}

/* line 41, dev/sass/partials/globals/_typography.scss */
h2, .beta {
  font-size: 32px;
  font-size: 2em;
  line-height: 48px;
}

/* line 46, dev/sass/partials/globals/_typography.scss */
h3, .gamma {
  font-size: 24px;
  font-size: 1.5em;
  line-height: 36px;
}

/* line 51, dev/sass/partials/globals/_typography.scss */
h4, .delta {
  font-size: 22px;
  font-size: 1.375em;
  line-height: 33px;
}

/* line 57, dev/sass/partials/globals/_typography.scss */
h5, .epsilon,
h6, .zeta {
  font-size: 18px;
  font-size: 1.125em;
  line-height: 27px;
}

/* line 62, dev/sass/partials/globals/_typography.scss */
.mega {
  font-size: 72px;
  font-size: 4.5em;
  line-height: 108px;
}

/* line 68, dev/sass/partials/globals/_typography.scss */
small,
.tiny {
  font-size: 14px;
  font-size: 0.875em;
  line-height: 21px;
}

/* line 73, dev/sass/partials/globals/_typography.scss */
strong {
  font-weight: bold;
}

/* line 78, dev/sass/partials/globals/_typography.scss */
em {
  font-style: italic;
}

/* line 3, dev/views/header/_header.scss */
.app-header {
  margin-bottom: 40px;
  margin: 0 -100px 0 40%;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  opacity: 0;
}
/* line 10, dev/views/header/_header.scss */
.app-header.fade {
  opacity: 1;
}
/* line 15, dev/views/header/_header.scss */
.app-header.slide {
  margin: 0 0 10px 0;
}
/* line 20, dev/views/header/_header.scss */
.app-header .logo {
  font-family: 'Campton Bold', arial, sans-serif;
  display: inline-block;
  color: #222222;
  font-size: 48px;
  font-size: 3em;
  line-height: 72px;
  line-height: 1;
  letter-spacing: -1px;
}
/* line 30, dev/views/header/_header.scss */
.app-header h1 {
  display: inline-block;
}
/* line 34, dev/views/header/_header.scss */
.app-header h1 span {
  line-height: 1;
}

/* line 5, dev/views/footer/_footer.scss */
.app-footer {
  border-top: 1px solid #f4f4f4;
  *zoom: 1;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.app-footer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 13, dev/views/footer/_footer.scss */
.app-footer .icons.lang {
  float: right;
}
/* line 18, dev/views/footer/_footer.scss */
.app-footer .icons li {
  background-image: url(/wp-content/themes/portfolio2/assets/img/sprite.png);
  background-repeat: no-repeat;
  height: 36px;
  background-size: 338px 36px;
  -webkit-transform: scale(0.7, 0.7);
  -moz-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  -o-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
}
/* line 26, dev/views/footer/_footer.scss */
.app-footer .icons li.icon-angular {
  background-position: 0 0;
  width: 34px;
}
/* line 27, dev/views/footer/_footer.scss */
.app-footer .icons li.icon-sass {
  background-position: -34px 0;
  width: 49px;
}
/* line 28, dev/views/footer/_footer.scss */
.app-footer .icons li.icon-css3 {
  background-position: -83px 0;
  width: 39px;
}
/* line 29, dev/views/footer/_footer.scss */
.app-footer .icons li.icon-html5 {
  background-position: -159px 0;
  width: 32px;
}
/* line 30, dev/views/footer/_footer.scss */
.app-footer .icons li.icon-wp {
  background-position: -123px 0;
  width: 36px;
}
/* line 31, dev/views/footer/_footer.scss */
.app-footer .icons li.icon-github {
  background-position: -192px 0;
  width: 37px;
}
/* line 32, dev/views/footer/_footer.scss */
.app-footer .icons li.icon-twitter {
  background-position: -229px 0;
  width: 45px;
}
/* line 33, dev/views/footer/_footer.scss */
.app-footer .icons li.icon-cv {
  background-position: -273px 0;
  width: 28px;
}
/* line 34, dev/views/footer/_footer.scss */
.app-footer .icons li.icon-email {
  background-position: -302px 0;
  width: 36px;
}
/* line 36, dev/views/footer/_footer.scss */
.app-footer .icons li a {
  display: block;
  height: 36px;
}
@media (min-width: 840px) {
  /* line 44, dev/views/footer/_footer.scss */
  .app-footer .footer-left {
    float: left;
    width: 40%;
    background: #f4f4f4;
    padding: 20px 60px;
    height: 74px;
  }
}
/* line 55, dev/views/footer/_footer.scss */
.app-footer .footer-left a {
  padding-right: 20px;
  line-height: 46px;
}
/* line 62, dev/views/footer/_footer.scss */
.app-footer .footer-right {
  *zoom: 1;
  height: 74px;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.app-footer .footer-right:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 840px) {
  /* line 62, dev/views/footer/_footer.scss */
  .app-footer .footer-right {
    float: right;
    width: 60%;
    padding: 20px 60px;
  }
}

/* line 3, dev/views/about/_about.scss */
.about {
  margin: 20px 0;
}

/* line 3, dev/views/projects/_projects.scss */
.projects {
  margin-top: 20px;
}

/* line 5, dev/views/individual-project/_project-left.scss */
.project-left .individual-languages {
  margin: 40px 0;
  border-left: 3px solid #c1966b;
}
/* line 10, dev/views/individual-project/_project-left.scss */
.project-left .individual-languages ul {
  padding-top: 6px;
}
/* line 14, dev/views/individual-project/_project-left.scss */
.project-left .individual-languages ul li {
  text-indent: 10px;
}
/* line 21, dev/views/individual-project/_project-left.scss */
.project-left .scroll-wrapper {
  *zoom: 1;
  margin: 40px -60px 0 -60px;
  padding: 20px 60px;
  background: #f4f4f4;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.project-left .scroll-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
/* line 29, dev/views/individual-project/_project-left.scss */
.project-left .scroll-wrapper .prev,
.project-left .scroll-wrapper .next {
  width: 27px;
  height: 27px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 36, dev/views/individual-project/_project-left.scss */
.project-left .scroll-wrapper .prev svg use,
.project-left .scroll-wrapper .next svg use {
  -webkit-transform: scale(0.3, 0.3);
  -moz-transform: scale(0.3, 0.3);
  -ms-transform: scale(0.3, 0.3);
  -o-transform: scale(0.3, 0.3);
  transform: scale(0.3, 0.3);
}
/* line 42, dev/views/individual-project/_project-left.scss */
.project-left .scroll-wrapper .prev {
  float: left;
}
/* line 46, dev/views/individual-project/_project-left.scss */
.project-left .scroll-wrapper .prev:hover {
  margin-left: 6px;
}
/* line 52, dev/views/individual-project/_project-left.scss */
.project-left .scroll-wrapper .next {
  float: right;
}
/* line 56, dev/views/individual-project/_project-left.scss */
.project-left .scroll-wrapper .next:hover {
  margin-right: 6px;
}

/* line 5, dev/views/individual-project/_project-right.scss */
.project-right img {
  margin-bottom: 20px;
}

/* line 3, dev/views/right-col/_right-col.scss */
.right-col {
  background: #f4f4f4;
  position: relative;
  padding: 20px;
}
@media (min-width: 840px) {
  /* line 3, dev/views/right-col/_right-col.scss */
  .right-col {
    width: 60%;
    float: right;
    padding: 60px;
  }
}

/* line 3, dev/views/left-col/_left-col.scss */
.left-col {
  padding: 60px;
  position: relative;
}
@media (min-width: 840px) {
  /* line 3, dev/views/left-col/_left-col.scss */
  .left-col {
    width: 40%;
    float: left;
  }
}

/* line 6, dev/sass/misc/_helpers.scss */
.block {
  display: block;
}

/* line 12, dev/sass/misc/_helpers.scss */
.inline {
  display: inline-block;
}

/* line 18, dev/sass/misc/_helpers.scss */
.pull-left {
  float: left;
}

/* line 24, dev/sass/misc/_helpers.scss */
.pull-right {
  float: right;
}

/* line 30, dev/sass/misc/_helpers.scss */
.text-center {
  text-align: center;
}

/* line 36, dev/sass/misc/_helpers.scss */
.text-right {
  text-align: right;
}

/* line 42, dev/sass/misc/_helpers.scss */
.browsehappy {
  color: white;
  background: red;
  width: 100%;
  text-align: center;
}

/* line 51, dev/sass/misc/_helpers.scss */
.mb {
  margin-bottom: 10px;
  display: block;
}

/* line 58, dev/sass/misc/_helpers.scss */
.invisible {
  visibility: hidden;
}

@media print {
  /* line 13, dev/sass/misc/_print.scss */
  *,
  *:before,
  *:after {
    color: #000;
    text-shadow: none;
    box-shadow: none;
    background: transparent;
  }

  /* line 22, dev/sass/misc/_print.scss */
  a {
    text-decoration: underline;
  }
  /* line 27, dev/sass/misc/_print.scss */
  a:visited {
    text-decoration: underline;
  }
  /* line 35, dev/sass/misc/_print.scss */
  a[href]:after {
    content: " (" attr(href) ") ";
    font-size: 0.8em;
    font-weight: normal;
  }
  /* line 50, dev/sass/misc/_print.scss */
  a[href^="#"]:after, a[href*="#"]:after, a[href^="javascript:;"]:after, a[href*="javascript:;"]:after {
    content: '';
  }

  /* line 60, dev/sass/misc/_print.scss */
  input[type="submit"] {
    display: none;
  }

  /* line 78, dev/sass/misc/_print.scss */
  footer {
    display: none;
  }
}
