<ul ng-class="{active:projectVisible,absolute:absoluteProj}" class="project-right slide-out-right" ng-swipe-right="showProject(prev, 'project', prev, 'swipe')" ng-swipe-left="showProject(next, 'project', next, 'swipe')">
	<li ng-repeat="image in project.attachments">
		<img ng-src="{{image.images.full.url}}" alt="{{image.title}}" class="img-full" />
	</li>
</ul>
<div class="scroll-wrapper right" ng-class="{active:projectVisible,absolute:absoluteProj,show:projectVisible}">
	<a href="javascript:;" ng-click="showProject(prev, 'project', prev, 'noswipe')" ng-if="prev" class="block prev">
		<svg class="arrow-left">
		  <use xlink:href="#arrow-left"></use>
		<svg>
	</a>
	<a href="javascript:;" ng-click="showProject(next, 'project', next, 'noswipe')" ng-if="next" class="block next">
		<svg class="arrow-right">
		  <use xlink:href="#arrow-right"></use>
		<svg>
	</a>
</div>