// ============================================================
// Project 
// ============================================================

.app-right {

  padding: $baseline*3;
  background: darken($col-lightgrey, 1.6%);

  ul {

    li {

      margin-bottom: $baseline;

      img {

        display: block;
        width: 100%;
        height: auto;

      }

    }

  }

}

// ============================================================