// ============================================================
// HEADER 
// ============================================================

.app-header {

	margin-bottom: $baseline;
	position: absolute;
	top: $baseline*3;
	left: $baseline*3;
	z-index: 2;

	.app-logo {

		color: $col-black;
		font-family: $header-font;
		@include font(48);
	    line-height: 1;
	    letter-spacing: -1px;

		&:hover {

			text-decoration: none;
		}
	}

	.app-tagline {

		@include font(15);
		display: inline-block;

		span {

			line-height:1;
		}
	}
}

// ============================================================